{% extends "home_str.html" %}

{% block content %}
    <h1>Applications</h1>

    {% if application_list %}
    <ul>

      {% for application in application_list %}
      <li>
            <p><strong>Time add:</strong> {{application.time}}</p>
            <p><strong>Name:</strong> {{application.name}}</p>
            <p><strong>Decsription:</strong> {{application.decsription}}</p>
            <p><strong>Category:</strong> {{application.category}}</p>
            <p><strong>Status:</strong> {{application.status}}</p>
            <p><img style="max-width:100px; max-height:100px;" class="img" src="{{ application.image.url }}"></p>
            <p><strong>-------------------------------------------------------------</strong></p>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no applications</p>
    {% endif %}
{% endblock %}